.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: baseline;
      display: flex;
      text-align: left;
      margin-bottom: 0;
    }
  }
}

.contacts-section {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.address {
  font-style: normal;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__item {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &_theme-light {
      color: var(--background-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}
.footer-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }

  &__list {
    margin-top: 20px;
    flex-wrap: nowrap;
  }
  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-transform: uppercase;
  }
  &__link {
    background-color: var(--color-footer-link);
    fill: var(--background-color);
  }
}
.form-field {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  &__text {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      // display: inline-block;
      text-align: left;
    }
  }
}
.footer-form {
  margin-top: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
  &__input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--footer-color);
    padding-left: 16px;
    color: var(--adress-color);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;

      width: 450px;
      margin: 0 auto 20px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: var(--adress-color);
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    fill: var(--background-color);
    margin-left: 10px;
  }
}

// .footer {
//   background-color: var(--footer-color);
//   padding-top: 60px;
//   padding-bottom: 60px;
//   &-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     @media screen and (min-width: 768px) {
//       flex-direction: row;
//       flex-wrap: wrap;
//       justify-content: space-around;
//       align-items: baseline;
//     }
//     @media screen and (min-width: 1200px) {
//       flex-wrap: nowrap;
//       align-items: baseline;
//     }
//   }

//   &-container {
//     text-align: center;

//     @media screen and (min-width: 768px) {
//       display: flex;
//       align-items: baseline;
//       justify-content: space-evenly;
//       margin-bottom: 60px;
//     }

//     @media screen and (min-width: 1200px) {
//       display: flex;
//       text-align: left;
//       margin-bottom: 0;
//     }
//   }
// }

// .contacts-section {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   margin-bottom: 60px;
//   @media screen and (min-width: 1200px) {
//     text-align: start;
//     margin-bottom: 0;
//     width: 231px;
//   }
// }
// .address {
//   font-style: normal;
//   &__list {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 20px;
//     @media screen and (min-width: 1200px) {
//       display: block;
//     }
//   }
//   &__item {
//     margin-bottom: 8px;
//     @media screen and (min-width: 1200px) {
//       margin-bottom: 9px;
//     }
//   }
//   &__link {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--adress-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//     &_theme-light {
//       color: var(--background-color);
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       &:hover,
//       &:focus {
//         color: var(--accent-color);
//       }
//     }
//   }
// }
// .footer-social-list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 80px;
//   margin-bottom: 60px;
//   @media screen and (max-width: 1199px) {
//     text-align: center;
//   }
//   @media screen and (min-width: 1200px) {
//     text-align: start;
//     margin-left: 70px;
//   }
//   &__list {
//     margin-top: 20px;
//     flex-wrap: nowrap;
//   }
//   &__text {
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: var(--background-color);
//     text-transform: uppercase;
//   }
//   &__link {
//     background-color: var(--color-footer-link);
//     fill: var(--background-color);
//   }
// }
// .form-field {
//   width: 575px;
//   text-align: center;
//   height: 86px;
//   @media screen and (min-width: 1200px) {
//     margin-left: auto;
//     text-align: left;
//   }
//   &__text {
//     display: block;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     color: var(--background-color);
//     text-transform: uppercase;
//     @media screen and (min-width: 1200px) {
//       // display: inline-block;
//       text-align: left;
//     }
//   }
// }
// .footer-form {
//   margin-top: 20px;
//   @media screen and (max-width: 1199px) {
//     text-align: center;
//   }
//   @media screen and (min-width: 1200px) {
//     display: block;
//   }
//   &__input {
//     width: 100%;
//     max-width: 450px;
//     height: 50px;
//     margin-bottom: 20px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     background-color: var(--footer-color);
//     padding-left: 16px;
//     color: var(--adress-color);
//     @media screen and (min-width: 768px) and (max-width: 1199px) {
//       margin: 0 auto 20px;
//     }
//     @media screen and (min-width: 1200px) {
//       width: 358px;
//       margin-right: 12px;
//       margin-bottom: 0;
//     }
//     &::placeholder {
//       font-size: 16px;
//       font-weight: 400;
//       line-height: 1.25;
//       letter-spacing: 0.03em;
//       color: var(--adress-color);
//     }
//   }
//   &__btn {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//   }
//   &__icon {
//     fill: var(--background-color);
//     margin-left: 10px;
//   }
// }
