.hero {
  background-color: var(--footer-color);
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--footer-color);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/hero/bg-hero@2x.jpg);
    }
  }
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--background-color);
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__btn {
    display: inline-block;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--background-color);
    height: 50px;
    width: 200px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--color-hover-btn);
    }
  }
}
