.portfolio-btn {
  font-weight: 500;
  color: var(--font-color);
  background-color: var(--secondary-background);
  height: 38px;
  width: 128px;
  left: 576px;
  top: 174px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &_active {
    background-color: var(--accent-color);
    color: var(--background-color);
    height: 38px;
    width: 73px;
    left: 495px;
    top: 174px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-fillter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  &__item {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: unset;
    }
  }
}
