:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --background-color: #ffffff;
  --font-color: #212121;
  --description-color: #757575;
  --secondary-background: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --border-cards: #eeeeee;
  --accent-mobile-padding-top: 60px;
  --accent-mobile-padding-bottom: 60px;
  --accent-padding-top: 94px;
  --accent-padding-bottom: 94px;
  --color-link: #afb1b8;
  --color-footer-link: rgba(255, 255, 255, 0.1);
  --color-border-header: #ececec;
  --color-hover-btn: #188ce8;
}
